site_name: Kemilappmark
site_url: https://www.kemilappmark.se
extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

extra:
  analytics:
    provider: google
    property: G-052BDJVD7W

theme:
  name: material
  icon:
    logo: material/forest
  palette: 
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  features:
    - navigation.sections          # Remove expansion and adds headers instead
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share

plugins:
  - blog:
      blog_dir: .
  - search
  - tags
  - redirects:
      redirect_maps:
        fi/home/index.md: index.md
        en/1691-1691/maanselka/index.md: gpt/1691-1691/Maanselkä-bundle-gpt-sv.md
        en/1692-1692/keminkyla/index.md: gpt/1692-1692/Keminkylä-bundle-gpt-sv.md
        fi/1691-1691/enareby/index.md: gpt/1691-1691/Enareby-bundle-gpt-sv.md
        fi/1692/Sompio-Kittilä-Sodankylä/index.md: index.md
        sv/1692/index.md: index.md
        fi/1694/kittilä/index.md: index.md
        sv/1692/sompio-kittila-sodankyla/index.md: index.md
        sv/1691/kittila/index.md: index.md
        fi/1693/kittilä/index.md: index.md
        fi/1691/Kittilä/index.md: index.md
        en/1697-1697/index.md: index.md
        fi/1697-1697/index.md: index.md
        sv/1693/kittilä/index.md: index.md
        sv/1692/Sompio-Kittilä-Sodankylä/index.md: index.md
        sv/1691-1691/kitka/index.md: index.md
        sv/1696-1696/index.md: index.md
        sv/1691-1691/keminkyla/index.md: index.md
        sv/1691/Kittilä/index.md: index.md
        sv/1694/kittilä/index.md: index.md
        en/1693-1693/index.md: index.md
        sv/1691-1691/manselka/index.md: index.md
        sv/1693-1693/index.md: index.md
        en/1696-1696/index.md: index.md
        fi/1696-1696/index.md: index.md
        sv/1691-1691/kuolajarvi/index.md: index.md
        fi/1693/kittila/index.md: index.md
        fi/1691/kittila/index.md: index.md
        sv/1693/index.md: index.md
        sv/1694/kittila/index.md: index.md
        en/1694-1694/index.md: index.md
        fi/1694/kittila/index.md: index.md
        fi/1694-1694/index.md: index.md
        en/1691-1691/kittila-bundle/index.md: index.md
        fi/1691-1691/kittila-bundle/index.md: index.md
        en/1691-1691/index.md: index.md
        fi/1692/sompio-kittila-sodankyla/index.md: index.md
        fi/1691-1691/index.md: index.md
        fi/1692-1692/index.md: index.md
        en/1692-1692/index.md: index.md
        sv/1694-1694/index.md: index.md
        fi/1693-1693/index.md: index.md
        sv/1693/kittila/index.md: index.md
        sv/1691/index.md: index.md
        fi/1693/index.md: index.md
        fi/1694/index.md: index.md
        fi/1691/index.md: index.md
        sv/Policies/index.md: index.md
        sv/home/index.md: index.md


nav:
  - Home:
    - "Blog": index.md

  - Gpt:
    - gpt/index.md
    - "1691-1691": gpt/1691-1691/index.md
    - "1692-1692": gpt/1692-1692/index.md
    - "1693-1693": gpt/1693-1693/index.md
    - "1694-1694": gpt/1694-1694/index.md
  #   - "1695-1695": gpt/1695-1695/index.md
  #   - "1696-1696": gpt/1696-1696/index.md
  #   - "1697-1697": gpt/1697-1697/index.md
  #   - "1698-1699": gpt/1698-1699/index.md
  #   - "1701-1705": gpt/1701-1705/index.md
  #   - "1703-1703": gpt/1703-1703/index.md
  #   - "1706-1707": gpt/1706-1707/index.md
  #   - "1710-1710": gpt/1710-1710/index.md
  #   - "1711-1712": gpt/1711-1712/index.md
  #   - "1713-1716": gpt/1713-1716/index.md
  #   - "1717-1720": gpt/1717-1720/index.md
  #   - "1720-1722": gpt/1720-1722/index.md
  #   - "1723-1728": gpt/1723-1728/index.md
  #   - "1729-1729": gpt/1729-1729/index.md
  #   - "1730-1730": gpt/1730-1730/index.md
  #   - "1731-1731": gpt/1731-1731/index.md
  #   - "1732-1732": gpt/1732-1732/index.md
  #   - "1733-1733": gpt/1733-1733/index.md
  #   - "1734-1734": gpt/1734-1734/index.md
  #   - "1735-1735": gpt/1735-1735/index.md
  #   - "1736-1736": gpt/1736-1736/index.md
  #   - "1737-1737": gpt/1737-1737/index.md
  #   - "1738-1738": gpt/1738-1738/index.md
  #   - "1739-1739": gpt/1739-1739/index.md
  #   - "1744-1744": gpt/1744-1744/index.md
  #   - "1745-1745": gpt/1745-1745/index.md
  #   - "1746-1746": gpt/1746-1746/index.md
  #   - "1747-1747": gpt/1747-1747/index.md
  #   - "1748-1748": gpt/1748-1748/index.md
  #   - "1749-1749": gpt/1749-1749/index.md


  - Raw:
    - raw/index.md
    - "1691-1691": raw/1691-1691/index.md
    - "1692-1692": raw/1692-1692/index.md
    - "1693-1693": raw/1693-1693/index.md
    - "1694-1694": raw/1694-1694/index.md
    - "1695-1695": raw/1695-1695/index.md
    - "1696-1696": raw/1696-1696/index.md
    - "1697-1697": raw/1697-1697/index.md
    - "1698-1699": raw/1698-1699/index.md
    - "1701-1705": raw/1701-1705/index.md
    - "1703-1703": raw/1703-1703/index.md
    - "1706-1707": raw/1706-1707/index.md
    - "1710-1710": raw/1710-1710/index.md
    - "1711-1712": raw/1711-1712/index.md
    - "1713-1716": raw/1713-1716/index.md
    - "1717-1720": raw/1717-1720/index.md
    - "1720-1722": raw/1720-1722/index.md
    - "1723-1728": raw/1723-1728/index.md
    - "1729-1729": raw/1729-1729/index.md
    - "1730-1730": raw/1730-1730/index.md
    - "1731-1731": raw/1731-1731/index.md
    - "1732-1732": raw/1732-1732/index.md
    - "1733-1733": raw/1733-1733/index.md
    - "1734-1734": raw/1734-1734/index.md
    - "1735-1735": raw/1735-1735/index.md
    - "1736-1736": raw/1736-1736/index.md
    - "1737-1737": raw/1737-1737/index.md
    - "1738-1738": raw/1738-1738/index.md
    - "1739-1739": raw/1739-1739/index.md
    - "1744-1744": raw/1744-1744/index.md
    - "1745-1745": raw/1745-1745/index.md
    - "1746-1746": raw/1746-1746/index.md
    - "1747-1747": raw/1747-1747/index.md
    - "1748-1748": raw/1748-1748/index.md
    - "1749-1749": raw/1749-1749/index.md
