[data-md-color-scheme="slate"] {
    --md-hue: 210; 
    --md-primary-fg-color:        #06027a;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #040243;
  }
[data-md-color-scheme="default"] {
    --md-hue: 210; 
    --md-primary-fg-color:        #06027a;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #040243;
  }